<div class="footer" style="background-color: black; opacity: 0.8">

    <section style="height:40px;"></section>
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-5 footer-brand animated fadeInLeft">
          <h2>MultiStory</h2>
          <p>Today's delirium is tomorrow's reality</p>
          <p>© 2020/26081, All rights reserved</p>
          <p>*** Отдельно хочу поблагодарить <a href="https://getbootstrap.com/">Bootstrap</a> *** </p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
          <h4 style="text-indent: 7%">Menu —</h4>

          <div class="col-md-6">
            <ul class="list">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contacts</a></li>
              <li><a href="https://www.akorda.kz/ru/official_documents/constitution" target="_blank">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
          <h4>Follow Us</h4>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>

      </div>
    </footer>

  </div>
