<div class="container">

  <section style="height: 30px"></section>

    <input class="input-group " style="width: 20%" placeholder="Search user {работает}" [(ngModel)]="SearchStr" >

    <span class="text-white-50" [hidden]="!SearchStr">Мы ищем по имени ... {{SearchStr}}</span>

  <section style="height: 30px"></section>

    <div class="row">

          <div class="col-3" *ngFor="let user of users | search:SearchStr" appHover style="padding: 4%">

              <div class="card bg-dark text-white-50" style="width: 140%;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/79/83/e7/7983e78de8c1222646c9435ba22777c1.jpg" alt="Card image cap">
                <div class="card-body">
                  <div class="card-img-overlay">
                      <h5 class="card-title  d-none d-lg-inline">{{user.name}}</h5>

                  </div>

                  <h5 class="card-text  d-lg-none">{{user.name | slice:0:10}}</h5>
                  <p class="card-text d-none d-lg-inline ">Some info here </p><br>
                  <br>
                  <a routerLink="/profile" class="btn btn-success hovered">Go to user</a>
                </div>
              </div>

          </div>



    </div>

</div>
