
<div  class="container bg-dark text-white-50"  >
  <section style="height: 100px"></section>
  <div class="row" style="width: 80%;">

      <div class="col-6"></div>
        <div class="col-4">
          <div class="form-group">
            <label for="InputEmail1">Email address</label>
            <input   class="form-control" id="InputEmail1" type="email" name="email" #refEmail  [(ngModel)]="emailAsNameSaved">
            <input hidden [(ngModel)]="dliaPrikola">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="Password1">Password</label>
            <input type="password" class="form-control" id="Password1">
          </div>
          <div class="form-group">
            <label for="Password2"> Rewrite password</label>
            <input type="password" class="form-control" id="Password2">
          </div>
          <button (click)="register(emailAsNameSaved)"   class="btn btn-primary" style="float: right"  >Submit</button>
          <p class="badge">{{count + 1}} users in array</p>
          <section style="height: 120px"></section>
        </div>
      <div class="col-2"></div>


  </div>
</div>
