<div class="container bg-dark text-white-50">
  <br>
  <h5 style="text-indent: 3%;transition: 0.75s" class="text-center text-primary" zoom [zoomSize]="170">Сегодняшний бред - завтрашняя реальность</h5>
  <div class="row">

      <!--      ------------------------------------------------------------------------------------------------------->


<!--      ------------------------------------------------------------------------------------------------------->
              <div class="container">
                  <h3>Издательство Marvel.</h3>
                  <p style="text-indent: 3%">В 1939 году издателем Мартином Гудменом (англ. Martin Goodman, 1908 – 1992 гг.) создается компания Marvel Comics, как группа дочерних компаний - «Timely Comics». Публикуется первый комикс «Marvel Comics» #1, в котором в роли супергероя - андроида выступает Человек-Факел (англ. Human Torch), придуманный Карлом Бургосом (англ. Carl Burgos 1916 – 1984 гг.), а в роли злодея - мутант Нэмор Подводник (англ. The Sub-Mariner), придуманный Биллом Эвереттом (англ. William Blake "Bill" Everett, 1917 – 1973 гг.).</p>
              </div>
      <app-carousel-stories></app-carousel-stories>

              <div class="container">
                <h3>Издательство DC Comics.</h3>
                <p style="text-indent: 3%">В 1935 году Малькольм Вилер Николсон основывает свою компанию National Allied Productions, которая представляет читателям первый выпуск New Fun: The Big Comic Magazine, в дальнейшем переименовано на Adventure Comics. Выпуск серии продолжается до 1983 года и становится самой большой (по количеству выпусков) серией комиксов за всю историю жанра (503 выпуска).

                  В 1939 году Вилер Николсон выпускает свою третью и последнею серию комикса, которая становиться сенсацией с появлением в ней Бэтмена (англ. Batman) в 27 номере. Формируется компания Detective Comics, Inc, которая запускает новую серию "Action Comics", в первом номере читателю представляют Супермена (англ. Superman).</p>
              </div>
    </div>
</div>
