
<div class="container"
>
    <section style="height: 30px;">

    </section>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
          <img style="border-radius: 47%; width: 100%; border: 3px solid #9B3800; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */" src="https://avatars.mds.yandex.net/get-pdb/2015825/08a7f0c5-6596-4e32-ad75-bf02b5195b66/s1200">
            <div class="container">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                  <h4 class="text-center">{{name | uppercase}}</h4>
                </div>
                <div class="col-2"></div>
              </div>

            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
          <strong style="text-decoration: ivory">Skills: </strong>
        <span class="">   Front-end  / </span>
        <span class="">   Front-end   /</span>
        <span class="">   Front-end   </span>
      </div>
      <div class="col-4"></div>
    </div>

  <div class="row text-white-50 bg-dark" style="border-radius: 3%">
    <div class="col-3">
    <app-list-links-profile></app-list-links-profile>
    </div>
      <div class="col-8">
        <br>
          <h4>Bio: </h4><span>Anna A J is a 22-year-old gym assistant who enjoys planking, recycling and cycling. She is energetic and friendly, but can also be very rude and a bit lazy.

She is a Greek Muslim. She finished school and then left academia. She is obsessed with being painted blue.

Physically, Anna is in pretty good shape. She is average-height with light skin, black hair and brown eyes. She has a blue inksplot tattoo on her upper back.

She grew up in a middle class neighbourhood. She was raised by her father, her mother having left when she was young.

She is currently single. Her most recent romance was with an IT technician called Georgie Willard Graham, who was the same age as her. They broke up because Georgie didn't feel respected.

Anna's best friend is a gym assistant called Alina Foster. They are inseparable. She also hangs around with Nicola Khan and Eleanor Nguyen. They enjoy running together.</span>
      </div>
    <div class="col-1"></div>

  </div>
</div>
