<section style="height: 50px;"></section>
<ul class="list-group bg-dark text-dark ">
  <a routerLink="/profile" class="text-decoration-none text-dark">
    <li class="list-group-item d-flex justify-content-between align-items-center active bg-secondary" >
    My Profile
  </li>
  </a>
  <a routerLink="/createWorld" class="text-decoration-none text-dark">
  <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary">
    Create world
    <span class="badge badge-primary badge-pill">0</span>
  </li>
  </a>
  <a routerLink="/createHero" class="text-decoration-none text-dark">
  <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary">
    Create Hero
    <span class="badge badge-primary badge-pill">0</span>
  </li>
  </a>
  <a routerLink="/myIdeas" class="text-decoration-none text-dark">
    <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary">
    My ideas
    <span class="badge badge-primary badge-pill">0</span>
  </li>
  </a>
</ul>
